Yeah buddy

In [2]:
import os
from PIL import Image
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [5]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
from tensorflow.keras.optimizers import Adamax
from tensorflow.keras.metrics import Precision, Recall
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
def train_df(tr_path):
    classes, class_paths = zip(*[(label, os.path.join(tr_path, label, image))
                                 for label in os.listdir(tr_path) if os.path.isdir(os.path.join(tr_path, label))
                                 for image in os.listdir(os.path.join(tr_path, label))])

    tr_df = pd.DataFrame({'Class Path': class_paths, 'Class': classes})
    return tr_df

def test_df(ts_path):
    classes, class_paths = zip(*[(label, os.path.join(ts_path, label, image))
                                 for label in os.listdir(ts_path) if os.path.isdir(os.path.join(ts_path, label))
                                 for image in os.listdir(os.path.join(ts_path, label))])

    ts_df = pd.DataFrame({'Class Path': class_paths, 'Class': classes})
    return ts_df

In [8]:
tr_df = train_df('Training')

In [9]:
tr_df

                             Class Path      Class
0      Training\glioma\Tr-glTr_0000.jpg     glioma
1      Training\glioma\Tr-glTr_0001.jpg     glioma
2      Training\glioma\Tr-glTr_0002.jpg     glioma
3      Training\glioma\Tr-glTr_0003.jpg     glioma
4      Training\glioma\Tr-glTr_0004.jpg     glioma
...                                 ...        ...
5707  Training\pituitary\Tr-pi_1452.jpg  pituitary
5708  Training\pituitary\Tr-pi_1453.jpg  pituitary
5709  Training\pituitary\Tr-pi_1454.jpg  pituitary
5710  Training\pituitary\Tr-pi_1455.jpg  pituitary
5711  Training\pituitary\Tr-pi_1456.jpg  pituitary

[5712 rows x 2 columns]

In [10]:
ts_df = test_df('Testing')

In [11]:
ts_df

                            Class Path      Class
0      Testing\glioma\Te-glTr_0000.jpg     glioma
1      Testing\glioma\Te-glTr_0001.jpg     glioma
2      Testing\glioma\Te-glTr_0002.jpg     glioma
3      Testing\glioma\Te-glTr_0003.jpg     glioma
4      Testing\glioma\Te-glTr_0004.jpg     glioma
...                                ...        ...
1306  Testing\pituitary\Te-pi_0295.jpg  pituitary
1307  Testing\pituitary\Te-pi_0296.jpg  pituitary
1308  Testing\pituitary\Te-pi_0297.jpg  pituitary
1309  Testing\pituitary\Te-pi_0298.jpg  pituitary
1310  Testing\pituitary\Te-pi_0299.jpg  pituitary

[1311 rows x 2 columns]

In [12]:
ts_df['Class'].value_counts()

Class
notumor       405
meningioma    306
glioma        300
pituitary     300
Name: count, dtype: int64

In [13]:
tr_df['Class'].value_counts()

Class
notumor       1595
pituitary     1457
meningioma    1339
glioma        1321
Name: count, dtype: int64